.jp-ReactWidget {
  color: var(--jp-ui-font-color1);
  background: var(--jp-layout-color1);
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

select.slurmel-select {
  flex: 1 1 auto;
  height: 32px;
  font-size: var(--jp-ui-font-size2);
  color: var(--jp-ui-font-color0);
  padding: 0 25px 0 8px;
}

input.slurmel-input {
  margin-left: 20px;
  max-width: 100px;
  background-color: #e9e9ed;
  border-radius: 5px;
  border-color: #8f8f9d;
  font-size: unset;
}

input.slurmel-input.disabled {
  background-color: #f4f4f6;
  border-radius: 5px;
  border-color: #c4c4cc;
}